main {
    margin: 0px 12%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.navbar img {
    width: 150px;
    object-fit: contain;
}